* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 40vh 40vw;
  
}

.element {
  width: 20vw;
  height: 20vh;
  background-color: #fd0202;
  display: inline-block
}
